{% extends 'curveapp/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Define Your Conic Curve</h4>
                    <h6 class="text-muted card-subtitle mb-2">Enter your data into our system and we do the rest!<br></h6>
                    <form id="uiform">
                        <div>
                            <div class="row">
                                <div class="col">
                                    <div class="card" id="curve-select">
                                        <div class="card-body">
                                            <div class="row text-end">
                                                <div class="col-3"><label class="col-form-label">Type of Curve</label></div>
                                                <div class="col"><select class="form-select form-control" onclick="curveselect()" id="curveselection" name="csel">
                                                        <option value="0" selected="">Select a Conic Curve</option>
                                                        <option value="1">Circle</option>
                                                        <option value="2">Ellipse</option>
                                                    </select></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form id="circleform">
                        <div>
                            <div class="row">
                                <div class="col">
                                    <div class="card" id="circleinput" hidden="true">
                                        <div class="card-body">
                                            <h6 class="text-muted card-subtitle mb-2">Define your circle parameters:</h6>
                                            <div class="row align-items-center">
                                                <div class="col-3 text-end"><label class="col-form-label">x-center</label></div>
                                                <div class="col-5"><input class="form-control" type="number" id="cir-xc" name="cir-xc" min="-10" max="10" required=""></div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-3 text-end"><label class="col-form-label">y-center</label></div>
                                                <div class="col-5"><input class="form-control" type="number" id="cir-yc" name="cir-yc" min="-10" max="10" required=""></div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-3 text-end"><label class="col-form-label">radius</label></div>
                                                <div class="col-5"><input class="form-control" type="number" name="cir-r" min="0" max="10" required=""></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form id="ellipseform">
                        <div>
                            <div class="row">
                                <div class="col">
                                    <div class="card" id="ellipseinput" hidden="true">
                                        <div class="card-body">
                                            <h6 class="text-muted card-subtitle mb-2">Define your ellipse parameters:</h6>
                                            <div class="row align-items-center">
                                                <div class="col-3 text-end"><label class="col-form-label">x-center</label></div>
                                                <div class="col-5"><input class="form-control" type="number" name="eli-xc" min="-10" max="10" required=""></div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-3 text-end"><label class="col-form-label">y-center</label></div>
                                                <div class="col-5"><input class="form-control" type="number" name="eli-yc" min="-10" max="10" required=""></div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-3 text-end"><label class="col-form-label">a</label></div>
                                                <div class="col-5"><input class="form-control" type="number" name="eli-a" min="-10" max="10" required=""></div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-3 text-end"><label class="col-form-label">b</label></div>
                                                <div class="col-5"><input class="form-control" type="number" name="eli-b" min="-10" max="10" required=""></div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-3 text-end"><label class="col-form-label">rotation (deg)</label></div>
                                                <div class="col-5"><input class="form-control" type="number" name="eli-rot" min="0" max="1" required=""></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="card" hidden>
                        <form action="{% url 'index' %}" id="djform" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                        </form>
                    </div>
                    <div class="row" style="padding-top: 1em;">
                        <div class="col col-3"></div>
                        <div class="col text-end">
                            <a class="btn btn-light" role="button" href="{% url 'library' %}">Cancel</a>
                            <div class="btn btn-primary" role="button" type="submit" onclick="process_ui()">Submit</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'curveapp/coniccurve.js' %}"></script>
{% endblock %}