{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Conic Curve Plotter</title>
    <link rel="stylesheet" href="{% static 'curveapp/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'curveapp/Navbar-Right-Links.css' %}">
    <link rel="stylesheet" href="{% static 'curveapp/styles.css' %}">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-xl-8 col-xxl-7">
                <div class="row align-items-baseline">
                    <div class="col-1 d-md-flex">
                        <a>
                            <img src="{% static 'curveapp/circle.jpg' %}" width="100%" style="min-width: 40px;">
                        </a>
                    </div>
                    <div class="col">
                        <nav class="navbar navbar-light navbar-expand-md">
                            <div class="container-fluid"><a class="navbar-brand align-text-bottom" href="{% url 'welcome' %}">Conic Curve Plotter</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                                <div class="collapse navbar-collapse" id="navcol-3">
                                    <div>
                                        {% if user.is_authenticated %}
                                            Signed in as <strong> {{ user.username }}</strong>
                                        {% else %}
                                            Not signed in.
                                        {% endif %}
                                    </div>
                                    <ul class="navbar-nav ms-auto">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="{% url 'index' %}">Define Your Curve</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'library' %}"><span style="color: rgba(0, 0, 0, 0.9);">Curve Library</span><br></a>
                                        </li>
                                        {% if user.is_authenticated %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                                            </li>
                                        {% else %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                {% block body %}
                {% endblock %}
                <div class="row">
                    <div class="col">
                        <footer class="text-center">
                            <div class="container text-muted py-4 py-lg-5">
                                <p class="mb-0">Conic Curve Plotter - Input your data and we take care of the rest! :)<br></p>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'curveapp/bootstrap.min.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>