{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>django-test-conic-curve-design</title>
    <link rel="stylesheet" href="{% static 'curveapp/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'curveapp/styles.css' %}">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-xl-8 col-xxl-7">
                <div class="row align-items-baseline">
                    <div class="col-1 d-md-flex"><a class="align-items-md-center" href="index1.html"></a></div>
                    <div class="col">
                        <nav class="navbar navbar-light navbar-expand-md">
                            <div class="container-fluid"><a class="navbar-brand align-text-bottom" href="index1.html">Conic Curve Plotter</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Define Your Conic Curve - Index 1 page</h4>
                                <h6 class="text-muted card-subtitle mb-2">Enter your data into our system and we do the rest!<br></h6>
                                <form id="uiform">
                                    <div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="card" id="curve-select">
                                                    <div class="card-body">
                                                        <div class="row text-end">
                                                            <div class="col-3"><label class="col-form-label">Type of Curve</label></div>
                                                            <div class="col"><select class="form-select form-control" id="curveselection" onclick="curveselect()" name="csel">
                                                                    <option value="0" selected="">Select a Conic Curve</option>
                                                                    <option value="1">Circle</option>
                                                                    <option value="2">Ellipse</option>
                                                                </select></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="circleform">
                                    <div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="card" id="circleinput" hidden="true">
                                                    <div class="card-body">
                                                        <h6 class="text-muted card-subtitle mb-2">Define your circle parameters:</h6>
                                                        <div class="row align-items-center">
                                                            <div class="col-3 text-end"><label class="col-form-label">x-center</label></div>
                                                            <div class="col-5"><input class="form-control" type="number" id="cirxc" name="cir-xc" min="-10" max="10" required=""></div>
                                                        </div>
                                                        <div class="row align-items-center">
                                                            <div class="col-3 text-end"><label class="col-form-label">y-center</label></div>
                                                            <div class="col-5"><input class="form-control" type="number" id="ciryc" name="cir-yc" min="-10" max="10" required=""></div>
                                                        </div>
                                                        <div class="row align-items-center">
                                                            <div class="col-3 text-end"><label class="col-form-label">radius</label></div>
                                                            <div class="col-5"><input class="form-control" type="number" name="cir-r" min="0" max="10" required=""></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="ellipseform">
                                    <div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="card" id="ellipseinput" hidden="true">
                                                    <div class="card-body">
                                                        <h6 class="text-muted card-subtitle mb-2">Define your ellipse parameters:</h6>
                                                        <div class="row align-items-center">
                                                            <div class="col-3 text-end"><label class="col-form-label">x-center</label></div>
                                                            <div class="col-5"><input class="form-control" type="number" name="eli-xc" min="-10" max="10" required=""></div>
                                                        </div>
                                                        <div class="row align-items-center">
                                                            <div class="col-3 text-end"><label class="col-form-label">y-center</label></div>
                                                            <div class="col-5"><input class="form-control" type="number" name="eli-yc" min="-10" max="10" required=""></div>
                                                        </div>
                                                        <div class="row align-items-center">
                                                            <div class="col-3 text-end"><label class="col-form-label">a</label></div>
                                                            <div class="col-5"><input class="form-control" type="number" name="eli-a" min="-10" max="10" required=""></div>
                                                        </div>
                                                        <div class="row align-items-center">
                                                            <div class="col-3 text-end"><label class="col-form-label">b</label></div>
                                                            <div class="col-5"><input class="form-control" type="number" name="eli-b" min="-10" max="10" required=""></div>
                                                        </div>
                                                        <div class="row align-items-center">
                                                            <div class="col-3 text-end"><label class="col-form-label">rotation (deg)</label></div>
                                                            <div class="col-5"><input class="form-control" type="number" name="eli-rot" min="0" max="1" required=""></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="card" hidden="true" id="curvegraph">
                                    <div class="card-body">
                                        <form action="{% url 'index1' %}" id="djform" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                        </form>
                                    </div>
                                </div>
                                <div class="card" hidden="true">
                                    <div class="card-body">
                                        <h6>Your conic curve looks like:</h6>

                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col col-3"></div>
                                    <div class="col text-end">
                                        <a class="btn btn-light" role="button" href="library.html">Cancel</a>
                                        <a class="btn btn-primary" role="button" type="submit" onclick="process_ui()">Submit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <footer class="text-center">
                            <div class="container text-muted py-4 py-lg-5">
                                <p class="mb-0">Conic Curve Plotter - Input your data and we take care of the rest! :)<br></p>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'curveapp/bootstrap.min.js' %}"></script>
    <script src="{% static 'curveapp/coniccurve.js' %}"></script>
</body>

</html>